DOMAIN="example.com"
AUTHOR="Joe Bloggs"
PROJECT_NAME="test-init-build"
VERSION="0.0.1"
ENABLE_HELPERS=false


# Settings for GIT
GIT_ENABLED=false
GIT_USER="joe"
GIT_USEREMAIL="joe@exmple.com."
GIT_MAIN="main"
GIT_REMOTE="GitHub"

# Settings for GIT REMOTE
GITHUB_USER="joeblogs"
GITHUB_USEREMAIL="joebloggs@example.com"
GITHUB_URL=
GITHUB_TOKEN=
