# DAVIT Gitignore File

# VSODE
vscode.sh
.vscode/

# Config Files
.env
.env.local
config.yaml
settings.json   
requirements.yaml

# Docs History
docs/hist/*_hist.md 

# Temp Files
tmp/    
temp

# Test Files
tests

#log Files
logs/

# Archives
archives



